[submodule "quilt/core/pcg"]
	path = quilt/core/pcg
	url = https://github.com/imneme/pcg-cpp.git
[submodule "quilt/core/thread-pool"]
	path = quilt/core/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
